// breakpoints
$breakpoints: (
	sm: 26.75rem,
	md: 48rem,
	lg: 71.25rem,
) !default;

@mixin breakpoint($breakpoint) {
	@media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
		@content;
	}
}
