.article {
	margin-bottom: 2rem;
	width: 100%;
	@include breakpoint(lg) {
		width: 50%;
	}
	&:not(:last-child) {
		margin-right: 2rem;
	}

	&:last-child {
		margin-bottom: 0;
	}
	& img {
		width: 100%;
		height: auto;
		margin-bottom: 1rem;
	}

	&__title {
		@include h1-as-style;
	}

	& p {
		margin-bottom: 0;
	}
}
