.hero {
	&__content-wrapper {
		flex-direction: column;
	}
	&__clients-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		gap: 1rem;
		width: 100%;
		justify-items: center;
		@include breakpoint(md) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include breakpoint(lg) {
			display: flex;
		}
		& img {
			width: 50%;
		}
	}
	&__text-wrapper {
		margin-bottom: 3rem;
		@include breakpoint(lg) {
			width: 100%;
			max-width: 700px;
		}
	}
}
